.search-results-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.book-card {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );

  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.book-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border-color: darkmagenta;
  object-fit: cover;
  margin-right: 15px;
}

.book-details {
  flex-grow: 1;
}

.book-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.book-author {
  font-size: 16px;
  color: #000000;
  margin: 0;
}

.book-review {
  font-size: 14px;
  color: #130d0d;
  margin-top: 8px;
}

.search-results-container {
  padding: 40px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.back-button {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );

  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.back-button:hover {
  background-color: #45a049;
}

.back-button:focus {
  outline: none;
}

.back-button:active {
  background-color: #3e8e41;
}
