.back-button {
  background-color: rgb(226, 185, 185);
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-results-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recipe-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 300px;
}

.recipe-image {
  width: 100%;
  border-radius: 8px;
}

.recipe-details {
  margin-top: 10px;
}

.recipe-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.recipe-cuisine {
  font-size: 16px;
  color: #888;
}

.ingredient-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.ingredient-list li {
  font-size: 14px;
  color: #555;
}
