.signup_container {
  border: 1px solid;
  background-color: rgb(228, 189, 189);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(232, 127, 127);
  max-width: 30rem;
  margin: 20rem auto;
  margin-top: 10rem;
}

.signup_container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.signup_container input {
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  margin-top: 1rem;
  margin-left: 4.5rem;
}

.signup_container button {
  width: 8rem;
  height: 2.5rem;
  background-color: rgb(203, 107, 107);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  margin-top: 1rem;
}

.signup_container button:hover {
  background-color: rgb(204, 25, 25);
}

.signup_container button:active {
  background-color: rgb(204, 25, 25);
}

.signin_signup {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.message {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.message-text {
  padding: 10px 16px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.success {
  background-color: #34d399; /* Green color */
}

.error {
  background-color: #ef4444; /* Red color */
}

.signup_container img {
  border-radius: 50%;
}
