.signin_container {
  border: 1px solid;
  background-color: rgb(228, 189, 189);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(204, 25, 25);
  max-width: 30rem;
  margin: 20rem auto;
  margin-top: 10rem;
}

.signin_container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #000000;
  text-align: center;
}

.signin_container input {
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

.signin_container button {
  width: 8rem;
  height: 2.5rem;
  background-color: rgb(203, 107, 107);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.signin_container button:hover {
  background-color: rgb(204, 25, 25);
}

.signin_container button:active {
  background-color: rgb(204, 25, 25);
}

.signin_signup {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-bottom: 2rem;
}

.sidenav__logo {
  width: 120px;
  margin: 25px;
  border-radius: 50%;
}

.error {
  background-color: #ef4444;
}
