.post {
  width: 300px;
  margin: 30px 40px 50px 40px;
  /* border: 1px solid rgb(226, 185, 185); */
}

.post__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.timeline__left {
  display: flex;
}

.post__headerAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
  gap: 1rem;
}

.post__headerAuthor > span {
  color: grey;
  font-size: 15px;
}

.post__image > img {
  width: 100%;
  border-radius: 6px;
  border: 0.6px solid rgba(128, 128, 128, 0.516);
}

.post__footerIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.postIcon {
  padding: 7px;
  font-size: 30px;
}

.postIcon :hover {
  cursor: pointer;
}

.postIconLiked {
  color: red;
}

/* for comment section */

.commentList {
  margin-top: 10px;
  border-top: 1px solid #ef9393;
  padding-top: 10px;
}

.post__comments button {
  margin-top: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  color: rgb(229, 139, 139);
}

.comment {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #c78282;
  color: rgb(255, 255, 255);
}

.comment p {
  margin: 0;
}

.comment p:first-child {
  font-weight: bold;
}

/* Add Comment Pop-up */

.commentPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 400px;
}

.commentPopup textarea {
  width: 90%;
  height: 80px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.commentPopup button {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: rgb(226, 185, 185);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.addedToShoppingList {
  color: green;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.shoppingListErrorMessage {
  color: red;
}
