.modal__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal__content {
  background-color: rgb(226, 185, 185);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(226, 185, 185);
  width: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal__content h2 {
  margin-bottom: 15px;
}

.modal__content input[type="file"] {
  margin-bottom: 15px;
  color: white;
}

.modal__content button {
  background-color: #efd3d3;
  color: white;
  border: none;
  width: 10rem;
  height: 2rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
}

.modal__content button:last-child {
  margin-right: 0;
}

.success-message {
  color: #5cb85c;
  font-weight: bold;
  margin-top: 10px;
}
